[client]
port		= 61920
socket		= /var/lib/mysql/mysql.sock
[mysqld]
port		= 61920
socket		= /var/lib/mysql/mysql.sock

#skip-name-resolve

slow-query-log=1
slow-query-log-file=/data/wwwroot/mysql_log/slowQuery.log
long-query-time=1 
log-slow-admin-statements

skip-external-locking
key_buffer_size = 100M
max_allowed_packet = 1M
table_open_cache = 1024
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
#thread_concurrency应设为CPU核数的2倍
#thread_concurrency = 8

### 各个服务器不同，这里我用ip地址标记
server-id	= 3

binlog_format=mixed

#二进制日志相关参数
log-bin=mysql-bin
log-bin-index=mysql-bin.index
expire_logs_days=14

#slave相关参数
skip-slave-start
relay_log_purge=0
relay_log=mysql-relay-bin
relay_log_index=mysql-relay-bin.index

# 禁止mysql目录软连接
symbolic-links=0


max_connections = 2000
interactive_timeout = 30
wait_timeout = 30
tmp_table_size=300M
max_heap_table_size=300M

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash


[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
