[client]
port=61923
socket=/data/mysql/61923/mysql61923.sock

[mysqld]
datadir=/data/mysql/61923
port=61923
server_id=1
socket=/data/mysql/61923/mysql61923.sock
slow-query-log-file=/data/mysql/slowQuery/slowQuery_61923.log

#binlog日志
binlog_format = ROW
log-bin                 = /data/mysql/mysqlbinlog/61923/mysql-bin
expire_logs_days        = 7
max_binlog_size         = 500m
binlog_cache_size       = 4m
max_binlog_cache_size   = 512m

!includedir /data/mysql/etc/my.cnf.d/