[client]
#password	= your_password
port		= 61920
socket		= /var/lib/mysql/mysql.sock

[mysqld]
port		= 61920
socket		= /var/lib/mysql/mysql.sock

skip-name-resolve
expire_logs_days=10
slow-query-log=1
slow-query-log-file=/data/wwwroot/log/mysql/slowQuery.log
long-query-time=1 
#log-queries-not-using-indexes
log-slow-admin-statements 

skip-external-locking
key_buffer_size = 100M
max_allowed_packet = 1M
table_open_cache = 1024
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 8

log-bin=mysql-bin
server-id	= 1
binlog_format=mixed

max_connections = 1000
interactive_timeout = 15
wait_timeout = 15
tmp_table_size=300M
max_heap_table_size=300M

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

