#---------------------------------------------------------------------

# Global settings

#---------------------------------------------------------------------
global
# to have these messages end up in /var/log/haproxy.log you will
# need to:
#
# 1) configure syslog to accept network log events. This is done
# by adding the '-r' option to the SYSLOGD_OPTIONS in
# /etc/sysconfig/syslog
#
# 2) configure local2 events to go to the /var/log/haproxy.log
# file. A line like the following can be added to
# /etc/sysconfig/syslog
#
# local2.* /var/log/haproxy.log
#
log  127.0.0.1  local2
chroot  /var/lib/haproxy
pidfile  /var/run/haproxy.pid
maxconn  4000
user haproxy
group haproxy
daemon
defaults
mode http
log global
option httplog
option dontlognull
option http-server-close
option forwardfor except  127.0.0.0/8
option redispatch
retries  3
timeout http-request  10s
timeout queue  1m
timeout connect  10s
timeout client  1m
timeout server  1m
timeout http-keep-alive  10s
timeout check  10s
maxconn  30000
listen stats
mode http
bind  0.0.0.0:1080
stats enable
stats hide-version
stats uri  /haproxyadmin?stats
stats realm Haproxy\  Statistics
stats auth admin:admin
stats admin if  TRUE
frontend http-in
bind *:80
mode http
log global
option httpclose
option logasap  #不等待响应结束就记录日志，表示提前记录日志，一般日志会记录响应时长，此不记录响应时长
option dontlognull  #不记录空信息
capture request header Host len  20  #记录请求首部的前20个字符
capture request header Referer len  60  #referer跳转引用，就是上一级
default_backend servers
frontend healthcheck
bind  :1099  #定义外部检测机制
mode http
option httpclose
option forwardfor
default_backend servers
backend servers
balance roundrobin
server websrv1  192.168.1.6:80  check maxconn  2000
server websrv2  192.168.1.4:80  check maxconn  2000