<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://io.mycat/">
    <system>
	<property name="serverPort">8066</property>
	<property name="charset">utf8</property>	
    	<property name="defaultSqlParser">druidparser</property>
    </system>
    <user name="root">
        <property name="password">123456</property>
        <property name="schemas">7477_com_home,7477_com_uc</property>
    </user>

    <user name="user">
        <property name="password">user</property>
        <property name="schemas">7477_com_home,7477_com_uc</property>
        <property name="readOnly">true</property>
    </user>
	
  	<user name="test">  
                <property name="password">test</property>  
                <property name="schemas">TESTDB</property>  
        </user> 
	
</mycat:server>
